{{ partial "header.html" . }}
		<main id="content">
		<span class="categorylist">
		<span>Categories &middot;</span>
		<a href="/">All</a>
{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
<a href="/categories/{{ $name | urlize }}">{{ $name }}</a>
{{ end }}
</span>

    {{ template "_internal/google_analytics.html" . }} 
{{ $paginator := .Paginate (where .Data.Pages "Type" "!=" "page") 10}}

    {{ range $index, $page := .Paginator.Pages }}
        {{ .Render "li" }}
    {{ end }}

    	{{ partial "pagination.html" $paginator }}
		</main>
{{ partial "footer.html" . }}
